.page {
text-align: center;
}

.form {
    padding: auto;
       
}

.form input{
  width: 300px;
  padding: 0.1rem;
  border-radius: 8px;
  font-size: 1.1rem;
  margin-bottom: 2rem;
  justify-self: center;
}

/* buttons on top right */
button {
  border: none;
  background: none;
  cursor: pointer;
}


/* navBar */
.header {
    display: flex;
  }

.title {
    height: auto;
    
}

.auth-options {
    position: fixed;
    top: 1em;
    right: 1em;
    border-radius: 8px;
}