.page {
text-align: center;
}

.form {
    padding: auto;
       
}

.form input{
  width: 300px;
  padding: 0.1rem;
  border-radius: 8px;
  font-size: 1.1rem;
  margin-bottom: 2rem;
  justify-self: center;
}

/* navBar */
button {
  border: none;
  background: none;
  cursor: pointer;
}

.header {
    display: flex;
    background-color:lightsteelblue;
  }

.title {
    font-size: 35px;
    padding: 5%;
    color: black;
    
}

.auth-options {
    position: fixed;
    top: 1em;
    right: 1em;
    border-radius: 8px;
}

/* narBar */